.title {
  margin: 0;
}

.pcs {
  font-size: 14px;
  align-items: left;
}

.qty {
  display: flex;
  flex-direction:row;
  /* margin-bottom: 10px; */
}

.qtyNum {
  margin-top: 3px;
  margin-left: 6px;
  margin-right: 6px;
}