.kitOrderHeader {
  display: flex;
  /* justify-content: space-between; */
}
.ui.card.kitCard {
  display: block;
  margin: 0 auto;
}
.ui.button.btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.ui.fluid.card.kitOrderCard {
  margin: 1rem 0;
}
div.content.cardFlex {
  display: flex;
}
