.kitchenBackground {
  /* background-color: #7a7976; */
}
.kitHeader {
  display: flex;
  justify-content: space-between;
}
.timeNow {
  margin-top: 0;
}
.kitchenFlex {
  display: flex;
  overflow-x: scroll;
  height: 85vh;
}
.kitOrderCont {
  margin: 10px;
  /* border: 1px solid black; */
  background-image: linear-gradient( #f8f6ed, white);

  /* background-color: #faf5f1; */
  padding: 15px;
}

.fullscreen {
  padding: 15px
}