.number {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.ui.menu {
  border-radius: 0px !important;
}

.sidebar{
  overflow-y:scroll
}
.sideBar {
  position: sticky;
  top: 0;
  background-color: yellow;
}