.total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.btns {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 30px;
  max-width: 150px;
  margin: 0 auto;
}
.ui.button.btn {
  margin-bottom: 10px;
}
