/* This is styling for the navBar */

.ui.fluid.three.item.menu {
  background-color: #ac131c;
}
.ui.fluid.three.item.menu span {
  color: white;
}
.big.icon {
  color: white;
  margin: 0 auto 5px;
}

.navContainer {
  display: flex;
  flex-direction: column;
}

.btns-alert {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ui.button {
  background-color: #ac131c !important;
  color: white !important;
  margin: 0 3.25rem 0 0 !important;
}

.ui.description {
  display: flex !important;
  flex-direction: column !important;
}

.content {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
}
